[submodule "data/vertical/parseme/mwe_gitrepo"]
	path = data/vertical/parseme/mwe_gitrepo
	url = https://github.com/natalink/mwe_noske
[submodule "data/custom/oxford"]
	path = data/custom/oxford
	url = https://github.com/ufal/lindat-oxford-import.git
